{% extends "base.html" %}

{% load static %}
{% load i18n %}

    {% block head_title %}{% trans "Change Password" %}{% endblock %}

    {% block head_link %}
    <!-- Flat UI -->
    <link href='{% static "vendors/flat-ui/2.2.2/css/flat-ui.mod.css" %}' rel="stylesheet">
    {% endblock head_link %}

  {% block body_lable %}<body class="login">{% endblock body_lable %}
  {% block body %}
    <div class="login-wrapper">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-block btn-lg btn-info" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>

    {% block script %}
    <!-- jQuery -->
    <script src='{% static "vendors/jQuery/2.2.4/jquery.min.js" %}'></script>
    <!-- Bootstrap -->
    <script src='{% static "vendors/bootstrap/3.3.7/js/bootstrap.min.js" %}'></script>
    <!-- Flat UI -->
    <script src='{% static "vendors/flat-ui/2.2.2/js/flat-ui.min.js" %}'></script>

    <script type="text/javascript">
      $("input").attr("class", "form-control login-field")
    </script>
    {% endblock script %}
  {% endblock body %}
