{% extends "base.html" %}

{% load static %}
{% load i18n %}

    {% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

    {% block head_link %}
    <!-- Flat UI -->
    <link href='{% static "vendors/flat-ui/2.2.2/css/flat-ui.mod.css" %}' rel="stylesheet">
    {% endblock head_link %}

  {% block body_lable %}<body class="login">{% endblock body_lable %}
  {% block body %}
    <div class="login-wrapper">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>{% trans "Sign Up Closed" %}</h1>

        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
      </div>
    </div>
  {% endblock body %}
