{% extends "base.html" %}

{% load i18n %}

    {% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

    {% block head_link %}
    <!-- Flat UI -->
    <link href="/static/vendors/flat-ui/2.2.2/css/flat-ui.mod.css" rel="stylesheet">
    {% endblock head_link %}

  {% block body_lable %}<body class="login">{% endblock body_lable %}
    {% block container %}
      <div class="login-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1>{% trans "Verify Your E-mail Address" %}</h1>

          <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
      </div>
    {% endblock container %}
