.container_trpkb {
  background-color: #f8f8f8;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e7e7e7;
}

.nav_trpkb > li > a {
  color: #777;
}
.nav_trpkb > li > a:hover,
.nav_trpkb > li > a:focus {
  color: #333;
  background-color: transparent;
}
.nav_trpkb > .active > a,
.nav_trpkb > .active > a:hover,
.nav_trpkb > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.panel-tab {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}

.table-threeline {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-color: black;
}

.table-threeline > thead {
  vertical-align: bottom;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.table-threeline > tbody {
  vertical-align: bottom;
  border-bottom: 2px solid black;
}

.table-threeline > thead > tr > th,
.table-threeline > tbody > tr > th,
.table-threeline > tfoot > tr > th,
.table-threeline > thead > tr > td,
.table-threeline > tbody > tr > td,
.table-threeline > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.input-group {
  width: 100%;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 50px !important;
  direction: ltr;
  cursor: pointer;
}

.ellipsisContent {
  /* essential */
  text-overflow: ellipsis;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
}

.show-more {
    text-align: center;
}
