{% extends "base.html" %}

{% load static %}

    {% block head_title %}About{% endblock head_title %}

      {% block nav %}
      <li role="presentation" class="active"><a href="{% url 'about' %}">About</a></li>
      <li role="presentation"><a href="{% url 'help' %}">Help</a></li>
      <li role="presentation"><a href="{% url 'download' %}">Download</a></li>
      <!--<li role="presentation"><a href="{% url 'submit' %}">Submit</a></li>-->
      <li role="presentation"><a href="{% url 'news' %}">News</a></li>
      {% endblock nav %}

    {% block container %}
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#about_trpkb" data-toggle="tab">About RTPDB</a></li>
          <li role="presentation"><a href="#cite" data-toggle="tab">Cite</a></li>
          <li role="presentation"><a href="#contact" data-toggle="tab">Contact</a></li>
          <li role="presentation"><a href="#acknowledgements" data-toggle="tab">Acknowledgements</a></li>
        </ul>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="tab-content">
          <div id="about_trpkb" class="tab-pane fade in active">
            <div class="panel panel-default">
              <div class="panel-body">
                <p>The RTPDB (Radiotherapy Prognosis Database) is a tumor prognosis resource that focus on the relationship between human genetic variation or gene expression and prognosis of patients who received radiotherapy with or without other treatments. RTPDB collects, curates and disseminates data about the impact of human genetic variation on prognosis of cancer patients. Now, we mainly focus on the association between single nucleotide polymorphism (SNP) or gene expression and prognosis. Mutations in other type will be included in turn.</p>
                <div class="img-thumbnail text-center">
                  <img style="max-width:100%;" src="/static/images/about_studies.png" alt="Figure 1. The distribution of studies included in the database from 1994 to 2018">
                  <strong>Figure 1. The distribution of studies included in the database from 1994 to 2018</strong>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-1 col-sm-1 col-xs-1">
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="text-center">
                      <strong>Table 1. The language of included studies</strong>
                    </div>
                    <table class="table-threeline">
                      <thead>
                        <tr>
                          <th>Language</th>
                          <th>SNP (%)</th>
                          <th>Expression (%)</th>
                          <th>Total (%)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Chinese</td>
                          <td>45 (16.67%)</td>
                          <td>53 (10.72%)</td>
                          <td>98 (12.83%)</td>
                        </tr>
                        <tr>
                          <td>English</td>
                          <td>225 (83.33%)</td>
                          <td>440 (89.07%)</td>
                          <td>665 (87.04%)</td>
                        </tr>
                        <tr>
                          <td>Korean</td>
                          <td>0 (0.00%)</td>
                          <td>1 (0.21%)</td>
                          <td>1 (0.13%)</td>
                        </tr>
                        <tr>
                          <td>Total</td>
                          <td>270 (35.33%)</td>
                          <td>494 (64.67)</td>
                          <td>764 (100.00%)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1">
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-1 col-sm-1 col-xs-1">
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="text-center">
                      <strong>Table 2. The publication type of included studies</strong>
                    </div>
                    <table class="table-threeline">
                      <thead>
                        <tr>
                          <th>Publication type</th>
                          <th>SNP (%)</th>
                          <th>Expression (%)</th>
                          <th>Total (%)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Journal</td>
                          <td>260 (96.30%)</td>
                          <td>473 (95.75%)</td>
                          <td>733 (95.54%)</td>
                        </tr>
                        <tr>
                          <td>Doctoral Dissertation</td>
                          <td>5 (1.85%)</td>
                          <td>13 (2.63%)</td>
                          <td>18 (2.36%)</td>
                        </tr>
                        <tr>
                          <td>Masters' Thesis</td>
                          <td>4 (1.48%)</td>
                          <td>8 (1.62%)</td>
                          <td>12 (1.57%)</td>
                        </tr>
                        <tr>
                          <td>Proceeding</td>
                          <td>1 (0.37%)</td>
                          <td>0 (0.00%)</td>
                          <td>0 (0.13%)</td>
                        </tr>
                        <tr>
                          <td>Total</td>
                          <td>270 (35.33%)</td>
                          <td>494 (64.67)</td>
                          <td>764 (100.00%)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1">
                  </div>
                </div>
                <br>
                <br>
                <div class="img-thumbnail text-center">
                  <img style="max-width:100%;" src="/static/images/about_patients.png" alt="Figure 2. The range of patients’ number in included studies">
                  <strong>Figure 2. The range of patients’ number in included studies</strong>
                </div>
                <br>
                <br>
                <div class="img-thumbnail text-center">
                  <img style="max-width:100%;" src="/static/images/about_top10_tumor.png" alt="Figure 3. Tumor word cloud in SNP and expression data">
                  <strong>Figure 3. Tumor word cloud in SNP and Expression data</strong>
                </div>
                <br>
                <br>
                <div class="img-thumbnail text-center">
                  <img style="max-width:100%;" src="/static/images/about_top10_gene_variant.png" alt="Figure 4. Top 10 variant and gene in SNP and expression data">
                  <strong>Figure 4. Top 10 variant and gene in SNP and Expression data</strong>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-1 col-sm-1 col-xs-1">
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="text-center">
                      <strong>Table 3. The treatment type in SNP data</strong>
                    </div>
                    <table class="table-threeline">
                      <thead>
                        <tr>
                          <th>Treatment type</th>
                          <th>Meaning</th>
                          <th>Number of studies (%)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy</td>
                          <td>All patients received radiotherapy, and partial patients received chemotherapy.</td>
                          <td>62 (22.96%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Chemotherapy</td>
                          <td>All patients received radiotherapy and chemotherapy.</td>
                          <td>44 (16.30%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy</td>
                          <td>All patients received radiotherapy.</td>
                          <td>44 (16.30%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Chemotherapy + Surgery</td>
                          <td>All patients received radiotherapy, chemotherapy and surgery.</td>
                          <td>34 (12.59%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy ± Surgery</td>
                          <td>All patients received radiotherapy, and partial patients received chemotherapy and surgery.</td>
                          <td>18 (6.67%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Surgery</td>
                          <td>All patients received radiotherapy and surgery.</td>
                          <td>18 (6.67%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Chemotherapy ± Surgery</td>
                          <td>All patients received radiotherapy and chemotherapy, and partial patients received surgery.</td>
                          <td>16 (5.93%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Hormone therapy</td>
                          <td>All patients received radiotherapy, and partial patients received hormone therapy.</td>
                          <td>8 (2.96%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy + Surgery</td>
                          <td>All patients received radiotherapy and surgery, and partial patients received chemotherapy.</td>
                          <td>8 (2.96%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy ± Hormone therapy + Surgery</td>
                          <td>All patients received radiotherapy and surgery, and partial patients received chemotherapy and hormone therapy.</td>
                          <td>6 (2.22%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Hormone therapy ± Surgery</td>
                          <td>All patients received radiotherapy, and partial patients received hormone therapy and surgery.</td>
                          <td>5 (1.85%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Hormone therapy + Surgery</td>
                          <td>All patients received radiotherapy and surgery, and partial patients received hormone therapy.</td>
                          <td>2 (0.74%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy ± Hormone therapy</td>
                          <td>All patients received radiotherapy, and partial patients received chemotherapy and hormone therapy.</td>
                          <td>2 (0.74%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Chemotherapy + Hormone therapy</td>
                          <td>All patients received radiotherapy, chemotherapy and hormone therapy.</td>
                          <td>1 (0.37%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Surgery</td>
                          <td>All patients received radiotherapy, and partial patients received surgery.</td>
                          <td>1 (0.37%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy ± Hormone therapy ± Surgery</td>
                          <td>All patients received radiotherapy, and partial patients received chemotherapy, hormone therapy and surgery.</td>
                          <td>1 (0.37%)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1">
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-1 col-sm-1 col-xs-1">
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="text-center">
                      <strong>Table 4. The treatment type in Expression data</strong>
                    </div>
                    <table class="table-threeline">
                      <thead>
                        <tr>
                          <th>Treatment type</th>
                          <th>Meaning</th>
                          <th>Number of studies (%)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Radiotherapy + Chemotherapy + Surgery</td>
                          <td>All patients received radiotherapy, chemotherapy and surgery.</td>
                          <td>130 (26.96%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy</td>
                          <td>All patients received radiotherapy.</td>
                          <td>90 (18.22%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Chemotherapy</td>
                          <td>All patients received radiotherapy and chemotherapy.</td>
                          <td>89 (18.02%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy</td>
                          <td>All patients received radiotherapy, and partial patients received chemotherapy.</td>
                          <td>66 (13.36%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Surgery</td>
                          <td>All patients received radiotherapy and surgery.</td>
                          <td>49 (9.92%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Chemotherapy ± Surgery</td>
                          <td>All patients received radiotherapy and chemotherapy, and partial patients received surgery.</td>
                          <td>23 (4.66%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy ± Surgery</td>
                          <td>All patients received radiotherapy, and partial patients received chemotherapy and surgery.</td>
                          <td>13 (2.6%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy + Surgery</td>
                          <td>All patients received radiotherapy and surgery, and partial patients received chemotherapy.</td>
                          <td>11 (2.23%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Hormone therapy</td>
                          <td>All patients received radiotherapy, and partial patients received hormone therapy.</td>
                          <td>7 (1.42%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Surgery</td>
                          <td>All patients received radiotherapy, and partial patients received surgery.</td>
                          <td>5 (1.01%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Hormone therapy</td>
                          <td>All patients received radiotherapy and hormone therapy.</td>
                          <td>5 (1.01%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy ± Hormone therapy + Surgery</td>
                          <td>All patients received radiotherapy and surgery, and partial patients received chemotherapy and hormone therapy.</td>
                          <td>2 (0.40%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy + Chemotherapy ± Hormone therapy + Surgery</td>
                          <td>All patients received radiotherapy, chemotherapy and surgery, and partial patients received hormone therapy.</td>
                          <td>2 (0.40%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy ± Hormone therapy ± Surgery</td>
                          <td>All patients received radiotherapy, and partial patients received chemotherapy, hormone therapy and surgery.</td>
                          <td>1 (0.20%)</td>
                        </tr>
                        <tr>
                          <td>Radiotherapy ± Chemotherapy ± Hormone therapy</td>
                          <td>All patients received radiotherapy, and partial patients received chemotherapy and hormone therapy.</td>
                          <td>1 (0.20%)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="cite" class="tab-pane fade">
            <div class="panel panel-default">
              <div class="panel-body">
                <p>Coming soon!</p>
                <br><br><br><br><br><br><br><br><br>
              </div>
            </div>
          </div>

          <div id="contact" class="tab-pane fade">
            <div class="panel panel-default">
              <div class="panel-body">
                <p><strong>Yuan Yang</strong></p>
                <br>
                <p>School of Life Sciences, Fudan University</p>
                <br>
                <p><strong>Address: </strong>2005 Songhu Road, Shanghai 200438, P.R.China</p>
                <br>
                <p><strong>Email: </strong><a href="mailto:rtpdb2018@163.com">rtpdb2018@163.com</a></p>
              </div>
            </div>
          </div>

          <div id="acknowledgements" class="tab-pane fade">
            <div class="panel panel-default">
              <div class="panel-body">
                <p>Thanks <strong>Congchong Wei</strong> (Shanghai Burning Rock Medical Examination Institute Co., Ltd) for help in website building.</p>
                <br>
                <p>Thanks <strong>Qiang Wang</strong> (School of Mathematics and Physics, Anhui University of technology, Maanshan, Anhui, China) for help in database design.</p>
                <br>
                <p>Thanks <strong>Li Qiu</strong> and <strong>Ming Luo</strong> (Department of Clinical Oncology, Taihe Hospital, Hubei University of Medicine, Shiyan, Hubei, China) for help in classification of tumor and prognosis.</p>
                <br>
                <p>Thanks <strong>Huanhuan Chen</strong> and <strong>Ting Zhang</strong> Guangxi Medical University, Nanning, Guangxi, China) for help in collecting data.</p>
                <br>
                <p>Thanks <strong>Quanying Liu</strong> and <strong>other 14 students</strong> (Department of Pharmacology, School of Basic Medicine, Hubei University of Medicine, Shiyan, Hubei, China) for help in collecting data.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock container %}
