{% extends "base.html" %}

{% load static %}

    {% block head_title %}Access{% endblock head_title %}

      {% block nav %}
      <li role="presentation"><a href="{% url 'about' %}">About</a></li>
      <li role="presentation" class="active"><a href="{% url 'access' %}">Access</a></li>
      <li role="presentation"><a href="{% url 'submit' %}">Submit</a></li>
      <li role="presentation"><a href="{% url 'news' %}">News</a></li>
      {% endblock nav %}

    {% block container %}
    <div class="row" style="margin-top: 10px; margin-bottom: 100px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>In RadioGKB (Radiation Genomics Knowledgebase) homepage, we offer two kind of search: SNP (Single Nucleotide Polymorphism) and Expression. You can find the association between SNP or gene expression and cancer prognosis in patients receiving radiotherapy-based treatment.</p>
            <h3>SNP</h3>
            <p>You can choose one of the way listed below for search:</p>
            <ol>
              <li>Gene</li>
              <li>Variant</li>
              <li>Tumor</li>
              <li>Gene and Tumor</li>
              <li>Variant and Tumor</li>
            </ol>
            <p>Most variant is located in specific gene, so when you choose Gene and Variant and Tumor, it is equal to option 5) Variant and Tumor. When you choose Gene and Variant, it is equal to option 2) Variant. However, there are some SNPs which not locate in gene. If you want to find the association, you need to know the SNP in advanced. </p>
            <h3>Expression</h3>
            <p>You can choose one of the way listed below for search:</p>
            <ol>
              <li>Gene</li>
              <li>Tumor</li>
              <li>Gene and Tumor</li>
            </ol>
            <h3>Notes in Input</h3>
            <p>When you input Gene for search, please use official symbol. For example, the alias of XRCC1 (X-ray repair cross complementing 1, Entrez GeneID: 7515) is RCC. If you enter RCC instead of XRCC1, you will not get any result. Before entering gene, you can query for whether the gene you input is official symbol or not at NCBI Gene (<a href="https://www.ncbi.nlm.nih.gov/gene">https://www.ncbi.nlm.nih.gov/gene</a>). We will solve this problem in subsequent update.</p>
            <p>When you input Variant for search, please use the name which is prefixed with “rs” (such as rs25487). If SNP is named after other type. You can use Google to find the name we need.</p>
            <p>When you input Tumor for search, we highly recommend you use our suggested name. Figure 1 shows how to do this. When you enter “Breast”, we recommend you with “Breast cancer”, then you can choose it.</p>
            <br>
            <div class="text-center">
              <div class="row">
                <img style="max-width:60%;" src="/static/images/access_figure1.png" alt="Figure 1 Choose the recommended tumor name">
              </div>
              <strong>Figure 1 Choose the recommended tumor name</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock container %}
