{% extends "base.html" %}

    {% block head_title %}Details - Expression{% endblock head_title %}

      {% block container %}
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>{{ research.title }} <a class="glyphicon glyphicon-link" href="{{ research.url }}"></a></span></h4>
            </div>
            <div class="panel-body">
              <table>
                <tbody>
                  <tr>
                    <td><strong>Publish type</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.pub_type }}</td>
                  </tr>
                  <tr>
                    <td nowrap><strong>Publish year</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.pub_year }}</td>
                  </tr>
                  <tr>
                    <td><strong>Language</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.language }}</td>
                  </tr>
                  <tr>
                    <td><strong>Journal</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.journal|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Pubmed id</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.pubmed_id|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>Abstract</strong></td>
                    <td valign="top">&nbsp;:&nbsp;</td>
                    <td ><div class="ellipsisContent">{{ research.abstract|default:'<span style="color:grey;">Not Provided</span>' }}</div><a class="show-more">more</a></td>
                  </tr>
                </tbody>
              </table>

              <hr>

              <table>
                <tbody>
                  <tr>
                    <td><strong>Treatment type</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.treatment_type|default:'<span style="color:grey;">Not Provided</span>' }}
                      <!--<a data-toggle="collapse" data-target="#treatment_desc">Details</a>-->
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td id="treatment_desc" class="collapse">
                    {{ research.treatment_desc }}
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Patient number</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.patient_number|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Ethnicity</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.ethnicity|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <!--
                  <tr>
                    <td nowrap><strong>EBML(Evidence Based Medicine Level)</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.ebml }}</td>
                  </tr>
                  -->
                  <tr>
                    <td style="width:180px;"><strong>Male/female</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.sex_ratio|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Age median</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.age_median|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Age mean</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.age_mean|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Age range</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.age_range|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Tumor stage</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.tumor_stage|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Gene expression detection</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.exp_detection_method|default:'<span style="color:grey;">Not Provided</span>' }} <a data-toggle="collapse" data-target="#cut_off">Cut off</a></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td id="cut_off" class="collapse">
                    {{ research.cut_off_value|default:'<span style="color:grey;">Not Provided</span>' }}
                    </td>
                  </tr>
                </tbody>
              </table>

              <hr>

              <table>
                <tbody>
                  <tr>
                    <td><strong>Tumor name</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ tumor.name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Tumor type</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ tumor.type }}</td>
                  </tr>
                </tbody>
              </table>

              <hr>

              <table>
                <tbody>
                  <tr>
                    <td style="width: 120px;"><strong>Gene</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Entrez gene ID</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.id|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Gene full name</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.full_name|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Alias</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.alias|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr>
                    <td><strong>Type</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.type|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                  <tr style="vertical-align:text-top;">
                    <td><strong>Summary</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.summary|default:'<span style="color:grey;">Not Provided</span>' }}</td>
                  </tr>
                </tbody>
              </table>

              <hr>

              <strong>Gene pathway</strong>
              <div class="panel panel-default" style="margin-top: 20px;">
                <div id="gene_pathway" class="panel-body" style="max-height: 400px;overflow-y: scroll;">
                </div>
              </div>

              <ul class="nav nav-tabs">
                {% for tab in tabs.tab %}
                  {% if forloop.first %}
                    <li role="presentation" class="active"><a href="#p_{{ tab.p_id }}" data-toggle="tab">{{ tab.name }}</a></li>
                  {% else %}
                    <li role="presentation"><a href="#p_{{ tab.p_id }}" data-toggle="tab">{{ tab.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>

              <div class="tab-content">
              {% for p_id, content in tabs.content.items %}
                {% if forloop.first %}
                  <div id="p_{{ p_id }}" class="tab-pane fade in active">
                {% else %}
                  <div id="p_{{ p_id }}" class="tab-pane fade">
                {% endif %}
                    <div class="panel panel-default" style="border-top: none;">
                      <div class="panel-body">
                      {% for subgroup_name, subgroup in content.subgroups.items %}
                        {% if subgroup_name != 'N/A' %}
                          <p><strong>Subgroup</strong> : {{ subgroup_name }}</p>
                        {% endif %}
                        <p><strong>Endpoint</strong> : {{ subgroup.endpoint }}</p>
                        <p>{{ subgroup.origin }}</p>
                        <table class="table">
                          <thead>
                            <tr>
                            {% for th in subgroup.thead %}
                              <th>{{ th }}</th>
                            {% endfor %}
                            </tr>
                          </thead>
                          <tbody>
                            {% for row in subgroup.tbody %}
                            <tr>
                            {% for td in row %}
                              <td>{{ td }}</td>
                            {% endfor %}
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        <br>
                        <br>
                      {% endfor %}
                      </div>
                      {% if content.annotation %}
                      <div class="panel-footer">{{ content.annotation }}</div>
                      {% endif %}
                    </div>
                  </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock container %}

    {% block script %}
    <script type="text/javascript">
      //Refer: https://stackoverflow.com/questions/12307666/how-to-create-a-show-more-button-and-specify-how-many-lines-of-text-can-be-ini
      $("a.show-more").on("click", function() {
          var $this = $(this);
          var $content = $this.prev("div");
          var linkText = $this.text();
          
          if(linkText === "more"){
              linkText = "less";
              $content.removeClass("ellipsisContent");
          } else {
              linkText = "more";
              $content.addClass("ellipsisContent");
          };
          $this.text(linkText);
      });
    </script>
    <script type="text/javascript">
      var gene_id = {{ gene.id }};
      $.get( "http://mygene.info/v3/gene/"+gene_id+"?fields=pathway", function( data ) {
        //console.log(data);
        for (var db_name in data.pathway) {
          //console.log(db_name);
          $("#gene_pathway").append("<h3>&nbsp;&nbsp;"+db_name+"</h3>");
          var table_html = "<table class=\"table table-bordered table-striped\"><thead><tr><th>ID</th><th>Name</th></tr></thead><tbody>"
          for (var i = 0; i < data.pathway[db_name].length; i++) {
            table_html += "<tr><td>"+data.pathway[db_name][i].id+"</td><td>"+data.pathway[db_name][i].name+"</td></tr>";
          }
          table_html += "</tbody></table>"
          $("#gene_pathway").append(table_html);
        }
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("div[id^='p_'] table").each(function() {
          $("tbody tr", this).each(function() {
            function test_ci(val) {
              var patt_valid = /\[|\]/;
              if (patt_valid.test(val)) {
                var patt = /\[([\d\.]+), ([\d\.]+)\]/
                var match = patt.exec(val);
                if (parseFloat(match[1]) > 1 || parseFloat(match[2]) < 1) {
                  return true;
                } else {
                  return false;
                }
              } else {
                return false;
              }
            }

            var strong_trigger = false;

            var val_u = $("td:eq(4)", this).text();
            var val_m = $("td:eq(6)", this).text();

            if (test_ci(val_u)) {
              strong_trigger = true;
            }
            if (test_ci(val_m)) {
              strong_trigger = true;
            }

            if (strong_trigger) {
              $("td", this).each(function() {
                var text = $(this).text();
                $(this).html('<strong>' + text + '</strong>');
              });
            }
          });
        });
      });
    </script>
    {% endblock script %}