{% extends "base.html" %}

{% load static %}

    {% block head_title %}Access{% endblock head_title %}

      {% block nav %}
      <li role="presentation"><a href="{% url 'about' %}">About</a></li>
      <li role="presentation"><a href="{% url 'access' %}">Access</a></li>
      <!--<li role="presentation"><a href="{% url 'submit' %}">Submit</a></li>-->
      <li role="presentation" class="active"><a href="{% url 'news' %}">News</a></li>
      {% endblock nav %}

    {% block container %}
    <div class="row" style="margin-top: 10px; margin-bottom: 100px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>April 2018, the RTPDB was updated with abstract and journal of studies.</p>
            <br>
            <p>March 2018, the RTPDB was updated with allele frequency of SNPs.</p>
            <br>
            <p>February 2018, the RTPDB was was released with 764 papers.</p>
          </div>
        </div>
      </div>
    </div>
    {% endblock container %}
