{% extends "base.html" %}

    {% block head_title %}Details - SNP{% endblock head_title %}

      {% block container %}
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4>{{ research.title }} <a class="glyphicon glyphicon-link" href="{{ research.url }}"></a></span></h4>
            </div>
            <div class="panel-body">
              <table>
                <tbody>
                  <tr>
                    <td><strong>Publish type</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.pub_type }}</td>
                  </tr>
                  <tr>
                    <td nowrap><strong>Publish year</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.pub_year }}</td>
                  </tr>
                  <tr>
                    <td><strong>Language</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.language }}</td>
                  </tr>
                  <tr>
                    <td><strong>Journal</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.journal }}</td>
                  </tr>
                  <tr>
                    <td><strong>Pubmed id</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.pubmed_id }}</td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>Abstract</strong></td>
                    <td valign="top">&nbsp;:&nbsp;</td>
                    <td ><div class="ellipsisContent">{{ research.abstract }}</div><a class="show-more">more</a></td>
                  </tr>
                </tbody>
              </table>

              <hr>

              <table>
                <tbody>
                  <tr>
                    <td><strong>Treatment type</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.treatment_type }} 
                      <!--<a data-toggle="collapse" data-target="#treatment_desc">Details</a>-->
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td id="treatment_desc" class="collapse">
                    {{ research.treatment_desc }}
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Patient number</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.patient_number }}</td>
                  </tr>
                  <tr>
                    <td><strong>Ethnicity</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.ethnicity }}</td>
                  </tr>
                  <!--
                  <tr>
                    <td nowrap><strong>Evidence Based Medicine Level</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.ebml }}</td>
                  </tr>
                  -->
                  <tr>
                    <td><strong>Male/female</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.sex_ratio }}</td>
                  </tr>
                  <tr>
                    <td><strong>Age median</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.age_median }}</td>
                  </tr>
                  <tr>
                    <td><strong>Age mean</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.age_mean }}</td>
                  </tr>
                  <tr>
                    <td><strong>Age range</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ research.age_range }}</td>
                  </tr>
                </tbody>
              </table>

              <hr>

              <table>
                <tbody>
                  <tr>
                    <td><strong>Tumor name</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ tumor.name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Tumor type</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ tumor.type }}</td>
                  </tr>
                </tbody>
              </table>

              <hr>

              <table>
                <tbody>
                  <tr>
                    <td style="width: 120px;"><strong>Gene</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Entrez gene ID</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.id }}</td>
                  </tr>
                  <tr>
                    <td><strong>Gene full name</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.full_name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Alias</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.alias }}</td>
                  </tr>
                  <tr>
                    <td><strong>Type</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.type }}</td>
                  </tr>
                  <tr style="vertical-align:text-top;">
                    <td><strong>Summary</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ gene.summary }}</td>
                  </tr>
                </tbody>
              </table>

              <hr>

              <table>
                <tbody>
                  <tr>
                    <td><strong>Variant</strong></td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ variant.dbsnp }}</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      {% if variant.allele %}
                        <table class="table">
                          <thead>
                            <tr>
                            {% for th in variant.allele_thead %}
                              <th>{{ th }}</th>
                            {% endfor %}
                            </tr>
                          </thead>
                          <tbody>
                            {% for row in variant.allele_tbody %}
                            <tr>
                              {% for td in row %}
                                <td>{{ td }}</td>
                              {% endfor %}
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        {{ variant.allele_footer|safe }}
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>

              <hr>

              <ul class="nav nav-tabs">
                {% for tab in tabs.tab %}
                  {% if forloop.first %}
                    <li role="presentation" class="active"><a href="#p_{{ tab.p_id }}" data-toggle="tab">{{ tab.name }}</a></li>
                  {% else %}
                    <li role="presentation"><a href="#p_{{ tab.p_id }}" data-toggle="tab">{{ tab.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>

              <div class="tab-content">
              {% for p_id, content in tabs.content.items %}
                {% if forloop.first %}
                  <div id="p_{{ p_id }}" class="tab-pane fade in active">
                {% else %}
                  <div id="p_{{ p_id }}" class="tab-pane fade">
                {% endif %}
                    <div class="panel panel-default" style="border-top: none;">
                      <div class="panel-body">
                      {% for subgroup_name, subgroup in content.subgroups.items %}
                        {% if subgroup_name != 'N/A' %}
                          <p><strong>Subgroup</strong> : {{ subgroup_name }}</p>
                        {% endif %}
                        <p><strong>Endpoint</strong> : {{ subgroup.endpoint }}</p>
                        <p>{{ subgroup.origin }}</p>
                        <table class="table">
                          <thead>
                            <tr>
                            {% for th in subgroup.thead %}
                              <th>{{ th }}</th>
                            {% endfor %}
                            </tr>
                          </thead>
                          <tbody>
                            {% for row in subgroup.tbody %}
                            <tr>
                              {% for td in row %}
                                <td>{{ td }}</td>
                              {% endfor %}
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        <br>
                        <br>
                      {% endfor %}
                      </div>
                      {% if content.annotation %}
                      <div class="panel-footer">{{ content.annotation }}</div>
                      {% endif %}
                    </div>
                  </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock container %}

    {% block script %}
    <script type="text/javascript">
      //Refer: https://stackoverflow.com/questions/12307666/how-to-create-a-show-more-button-and-specify-how-many-lines-of-text-can-be-ini
      $("a.show-more").on("click", function() {
          var $this = $(this);
          var $content = $this.prev("div");
          var linkText = $this.text();
          
          if(linkText === "more"){
              linkText = "less";
              $content.removeClass("ellipsisContent");
          } else {
              linkText = "more";
              $content.addClass("ellipsisContent");
          };
          $this.text(linkText);
      });
    </script>
    {% endblock script %}