{% extends "base.html" %}

{% load static %}

    {% block head_title %}Submit add - SNP{% endblock head_title %}

    {% block nav %}
    <ul class="nav nav-pills nav-justified" style="border-top:1px solid black;border-bottom:1px solid black;">
      <li role="presentation"><a href="{% url 'about' %}">About the Knowledgebase</a></li>
      <li role="presentation"><a href="{% url 'about_k' %}">About the Knowledge</a></li>
      <li role="presentation"><a href="{% url 'access' %}">Access the Knowledge</a></li>
      <li role="presentation" class="active"><a href="{% url 'submit' %}">Submit the Knowledge</a></li>
      <li role="presentation"><a href="{% url 'news' %}">News</a></li>
    </ul>
    {% endblock nav %}

      {% block container %}
      <div class="row" style="margin-top:40px;">
        {% if user.is_authenticated %}
        <div class="col-md-3 col-sm-3 col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a id="STEP01_nav" href="#STEP01" data-toggle="tab">Check duplication</a></li>
            <li role="presentation" class="disabled"><a id="STEP02_nav" href="#STEP02">Research</a></li>
            <li role="presentation" class="disabled"><a id="STEP03_nav" href="#STEP03">Tumor</a></li>
            <li role="presentation" class="disabled"><a id="STEP04_nav" href="#STEP04">Gene & Variant</a></li>
            <li role="presentation" class="disabled"><a id="STEP05_nav" href="#STEP05">Prognosis</a></li>
            <li role="presentation" class="disabled"><a id="STEP06_nav" href="#STEP06">Association</a></li>
            <li role="presentation" class="disabled"><a id="STEP07_nav" href="#STEP07">Confirm & Submit</a></li>
          </ul>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <div class="tab-content">
            <!-- STEP01 -->
            <div id="STEP01" class="tab-pane fade in active">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form id="STEP01_form">
                    <div class="input-group">
                      <span class="input-group-addon">Title<span style="color:red;">*</span></span>
                      <input name="title_" class="form-control" type="text" required>
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">PMID</span>
                      <input name="pubmed_id_" class="form-control" type="text">
                    </div>
                    <br>
                    <div class="well well-sm">
                      Note: Please provide the Title or PMID to check for duplication. If you provide both, we use PMID first.
                    </div>

                    <div id="STEP01_msg"></div>

                    <div class="text-center">
                      <div class="btn-group">
                        <a class="btn btn-default next">Next »</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /STEP01 -->
            <!-- STEP02 -->
            <div id="STEP02" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form id="STEP02_form">
                    <div class="input-group">
                      <span class="input-group-addon">Title<span style="color:red;">*</span></span>
                      <input name="title" class="form-control" type="text" required>
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">PMID</span>
                      <input name="pubmed_id" class="form-control" type="text">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Language<span style="color:red;">*</span></span>
                      <select name="language" class="form-control">
                        <option value="English" selected>English</option>
                        <option value="Chinese">Chinese</option>
                      </select>
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Publish Year<span style="color:red;">*</span></span>
                      <input name="pub_year" class="form-control" type="number">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Reference URL<span style="color:red;">*</span></span>
                      <input name="url" class="form-control" type="text" required>
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Publication Type<span style="color:red;">*</span></span>
                      <select name="pub_type" class="form-control">
                        <option value="" selected>- SELECT -</option>
                        <option value="Ph.D. thesis">Ph.D. thesis</option>
                        <option value="Master's thesis">Master's thesis</option>
                        <option value="Peer Review">Peer Review</option>
                        <option value="Proceeding's paper">Proceeding's paper</option>
                      </select>
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Evidence-base Medicine Level<span style="color:red;">*</span></span>
                      <select name="ebml" class="form-control">
                        <option value="" selected>- SELECT -</option>
                        {% for x in forms.research.ebml %}
                        <option value="{{ x }}">{{ x }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Ethnicity</span>
                      <input name="ethnicity" class="form-control" type="text">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Total Patients<span style="color:red;">*</span></span>
                      <input name="patient_number" class="form-control" type="number" required>
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Male</span>
                      <input name="male" class="form-control" type="number">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Female</span>
                      <input name="female" class="form-control" type="number">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Median Age</span>
                      <input name="median_age" class="form-control" type="number">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Mean Age</span>
                      <input name="mean_age" class="form-control" type="number">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Age Range</span>
                      <input name="age_range_0" class="form-control" type="number" placeholder="Start">
                      <input name="age_range_1" class="form-control" type="number" placeholder="End">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Treatment Description</span>
                      <textarea name="treatment_desc" class="form-control"></textarea>
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon">Treatment Type</span>
                      <input name="treatment_type" class="form-control" type="text">
                    </div>
                    <br>

                    <div id="STEP02_msg"></div>

                    <div class="text-center">
                      <div class="btn-group">
                        <a class="btn btn-default back">« Back</a>
                        <a class="btn btn-default save">Save</a>
                        <a class="btn btn-default next">Next »</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /STEP02 -->
            <!-- STEP03 -->
            <div id="STEP03" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form id="STEP03_form">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <strong id="STEP03_tumor_no">Tumor No.1</strong>
                      </div>
                      <div class="panel-body STEP03_tumor">
                        <div class="input-group">
                          <span class="input-group-addon">Tumor Ontology Name<span style="color:red;">*</span></span>
                          <input name="tumor" class="form-control" type="text" required>
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">MeSH term</span>
                          <input name="mesh_term" class="form-control" type="text">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">MeSH id</span>
                          <input name="mesh_id" class="form-control" type="number">
                        </div>
                      </div>
                    </div>
                    <div class="well well-sm">
                      Note: If the research you submit contains one more tumor, you can <strong>add</strong> another below.
                    </div>

                    <div id="tumor_above"></div>

                    <div>
                      <span id="STEP03_tumor_add" class="btn glyphicon glyphicon-plus-sign" style="cursor:pointer;font-size:1.5em;color:limegreen;"></span>
                    </div>

                    <div id="STEP03_msg"></div>

                    <div class="text-center">
                      <div class="btn-group">
                        <a class="btn btn-default back">« Back</a>
                        <a class="btn btn-default save">Save</a>
                        <a class="btn btn-default next">Next »</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /STEP03 -->
            <!-- STEP04 -->
            <div id="STEP04" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form id="STEP04_form">
                    <div id="STEP04_container">
                      <div class="panel panel-success">
                        <div class="panel-heading">
                          <strong id="STEP04_tumor_name">Tumor: ???</strong>
                        </div>
                        <div class="panel-body STEP04_tumor">
                          <div class="panel panel-default">
                            <div class="panel-body STEP04_variant">
                              <div class="input-group STEP04_gene_existed">
                                <span class="input-group-addon">Gene Symbol<span style="color:red;">*</span></span>
                                <input name="gene" class="form-control" type="text" list="genes" required>
                              </div>
                              <div class="input-group">
                                <span class="input-group-addon">
                                  <input class="STEP04_gene_new" type="radio">
                                  Not in suggestions? Specify a new one:<span style="color:red;">*</span>
                                </span>
                                <input name="gene_new" class="form-control" type="text" disabled>
                              </div>
                              <br>
                              <div class="input-group">
                                <span class="input-group-addon">Entrez Gene ID</span>
                                <input name="entrez_id" class="form-control" type="number">
                              </div>
                              <br>
                              <div class="input-group">
                                <span class="input-group-addon">dbSNP RS ID<span style="color:red;">*</span></span>
                                <input name="dbsnp" class="form-control" type="text" required>
                              </div>
                            </div>
                          </div>

                          <div class="variant_above"></div>

                          <div>
                            <span class="btn glyphicon glyphicon-plus-sign STEP04_variant_add" style="cursor:pointer;font-size:1.5em;color:limegreen;"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="well well-sm">
                      Note: If the <strong>gene</strong> you submit doesn't in suggestions, please specify a new one.
                    </div>

                    <div class="well well-sm">
                      Note: If the <strong>variant</strong> you submit doesn't belong to any genes, please choose '<strong>- N/A -</strong>' in suggestions.
                    </div>

                    <div class="well well-sm">
                      Note: This page will recreate content based on formmer step(s), save first if you want to preserve modifications.
                    </div>

                    <div id="STEP04_msg"></div>

                    <div class="text-center">
                      <div class="btn-group">
                        <a class="btn btn-default back">« Back</a>
                        <a class="btn btn-default save">Save</a>
                        <a class="btn btn-default next">Next »</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <datalist id="genes">
                {% for gene in genes %}
                <option value="{{ gene }}">
                {% endfor %}
              </datalist>
            </div>
            <!-- /STEP04 -->
            <!-- STEP05 -->
            <div id="STEP05" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form id="STEP05_form">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <strong id="STEP05_prognosis_no">Prognosis No.1</strong>
                      </div>
                      <div class="panel-body STEP05_prognosis">
                        <div class="input-group">
                          <span class="input-group-addon">Prognosis<span style="color:red;">*</span></span>
                          <input name="prognosis_name" class="form-control" type="text" required>
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">Type</span>
                          <input name="prognosis_type" class="form-control" type="text">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">Endpoint<span style="color:red;">*</span></span>
                          <input name="endpoint" class="form-control" type="text" required>
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">Original<span style="color:red;">*</span></span>
                          <select name="original" class="form-control">
                            <option value="" selected>- SELECT -</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">Case Meaning</span>
                          <input name="case_meaning" class="form-control" type="text">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">Control Meaning</span>
                          <input name="control_meaning" class="form-control" type="text">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">Total Meaning</span>
                          <input name="total_meaning" class="form-control" type="text">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">Subgroup</span>
                          <div class="input-group">
                            <input name="subgroup" class="form-control" type="text">
                            <span class="input-group-addon STEP05_subgroup_add" style="cursor:pointer;"><strong style="color:limegreen;">+</strong></span>
                          </div>
                          <div class="subgroup_above"></div>
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon">Case Meaning</span>
                          <textarea name="annotation" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>

                    <div id="prognosis_above"></div>

                    <div>
                      <span id="STEP05_prognosis_add" class="btn glyphicon glyphicon-plus-sign" style="cursor:pointer;font-size:1.5em;color:limegreen;"></span>
                    </div>

                    <div id="STEP05_msg"></div>

                    <div class="text-center">
                      <div class="btn-group">
                        <a class="btn btn-default back">« Back</a>
                        <a class="btn btn-default save">Save</a>
                        <a class="btn btn-default next">Next »</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /STEP05 -->
            <!-- STEP06 -->
            <div id="STEP06" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form id="STEP06_form">
                    <div id="STEP06_container">
                      <div class="panel panel-success">
                        <div class="panel-heading">
                          <strong id="STEP06_association_no">Association No.1</strong>
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="input-group">
                                <span class="input-group-addon">Tumor<span style="color:red;">*</span></span>
                                <select name="language" class="form-control STEP06_tumor">
                                  <option value="" selected>- SELECT -</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="input-group">
                                <span class="input-group-addon">Gene<span style="color:red;">*</span></span>
                                <select name="language" class="form-control STEP06_gene">
                                  <option value="" selected>- SELECT -</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="input-group">
                                <span class="input-group-addon">Variant<span style="color:red;">*</span></span>
                                <select name="language" class="form-control STEP06_variant">
                                  <option value="" selected>- SELECT -</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                              <div class="input-group">
                                <span class="input-group-addon">Prognosis<span style="color:red;">*</span></span>
                                <select name="language" class="form-control STEP06_prognosis">
                                  <option value="" selected>- SELECT -</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                              <div class="input-group">
                                <span class="input-group-addon">Subgroup<span style="color:red;">*</span></span>
                                <select name="language" class="form-control STEP06_subgroup">
                                  <option value="" selected>- SELECT -</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th style="text-align:right;">
                                      <span class="btn glyphicon glyphicon-plus-sign STEP06_column_add" style="cursor:pointer;font-size:1.5em;color:limegreen;"></span>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Genotype<span style="color:red;">*</span></td>
                                    <td><input name="genotype" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>Case Number</td>
                                    <td><input name="case_number" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>Control Number</td>
                                    <td><input name="control_number" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>Total Number</td>
                                    <td><input name="total_number" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>OR(U)</td>
                                    <td><input name="or_u" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>HR(U)</td>
                                    <td><input name="hr_u" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>RR(U)</td>
                                    <td><input name="rr_u" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>95%CI(U)</td>
                                    <td><input name="ci_u_95" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>P(U)</td>
                                    <td><input name="p_u" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>OR(M)</td>
                                    <td><input name="or_m" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>HR(M)</td>
                                    <td><input name="hr_m" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>RR(M)</td>
                                    <td><input name="rr_m" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>95%CI(M)</td>
                                    <td><input name="ci_m_95" class="form-control" type="text"></td>
                                  </tr>
                                  <tr>
                                    <td>P(M)</td>
                                    <td><input name="p_m" class="form-control" type="text"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="association_above"></div>

                      <div>
                        <span id="STEP06_association_add" class="btn glyphicon glyphicon-plus-sign" style="cursor:pointer;font-size:1.5em;color:limegreen;"></span>
                      </div>
                    </div>

                    <div class="well well-sm">
                      Note: This page will recreate content based on formmer step(s), save first if you want to preserve modifications.
                    </div>

                    <div id="STEP06_msg"></div>

                    <div class="text-center">
                      <div class="btn-group">
                        <a class="btn btn-default back">« Back</a>
                        <a class="btn btn-default save">Save</a>
                        <a class="btn btn-default next">Next »</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /STEP06 -->
            <!-- STEP07 -->
            <!-- /STEP07 -->
          </div>
        </div>
        {% else %}
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p>Login Required to submit</p>
        </div>
        {% endif %}
      </div>
      {% endblock container %}

    {% block script %}
    <script type="text/javascript">
      var review_mode = {{ review }};

      var submit_id = {{ submit_id }};
      var step = {{ step }};
      var content = JSON.parse('{{ content|safe }}');
      var genes = [];
      $("#genes option").each(function() {
          genes.push($(this).val());
      });
    </script>
    <script src='{% static "js/submit_snp.js" %}'></script>
    {% endblock script %}
