{% extends "base.html" %}

{% load static %}

    {% block head_title %}Submit{% endblock head_title %}

    {% block nav %}
    <ul class="nav nav-pills nav-justified" style="border-top: 1px solid black;border-bottom: 1px solid black;">
      <li role="presentation"><a href="{% url 'about' %}">About the Knowledgebase</a></li>
      <li role="presentation"><a href="{% url 'about_k' %}">About the Knowledge</a></li>
      <li role="presentation"><a href="{% url 'access' %}">Access the Knowledge</a></li>
      <li role="presentation" class="active"><a href="{% url 'submit' %}">Submit the Knowledge</a></li>
      <li role="presentation"><a href="{% url 'news' %}">News</a></li>
    </ul>
    {% endblock nav %}

      {% block container %}
      <div class="row" style="margin-top: 40px;">
        {% if user.is_authenticated %}
        <div class="col-md-3 col-sm-3 col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            {% if user.is_staff %}
            <li role="presentation" class="active"><a href="#Pending" data-toggle="tab">Pending approval</a></li>
            <li role="presentation"><a href="#Approved" data-toggle="tab">Approved</a></li>
            {% else %}
            <li role="presentation" class="active"><a href="#Draft" data-toggle="tab">Draft</a></li>
            <li role="presentation"><a href="#Accepted" data-toggle="tab">Accepted</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <div class="tab-content">
            {% if user.is_staff %}
            <div id="Pending" class="tab-pane fade in active">
              <div class="panel panel-default">
                <div class="panel-body">
                  <table id="dt_pending" class="table table-striped">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">No.</th>
                        <th class="column-title">Type</th>
                        <th class="column-title">Title</th>
                        <th class="column-title">Submitter</th>
                        <th class="column-title">Action</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>

            <div id="Approved" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-body">
                  <table id="dt_approved" class="table table-striped">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">No.</th>
                        <th class="column-title">Type</th>
                        <th class="column-title">Title</th>
                        <th class="column-title">Status</th>
                        <th class="column-title">Last change</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>

            {% else %}
            <div id="Draft" class="tab-pane fade in active">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Add new
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="{% url 'snp_new' %}">SNP</a></li>
                      <li><a href="#">Expression</a></li>
                    </ul>
                  </div>
                  <table id="dt_draft" class="table table-striped">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">No.</th>
                        <th class="column-title">Type</th>
                        <th class="column-title">Title</th>
                        <th class="column-title">Status</th>
                        <th class="column-title">Last change</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>

            <div id="Accepted" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-body">
                  <table id="dt_accepted" class="table table-striped">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">No.</th>
                        <th class="column-title">Type</th>
                        <th class="column-title">Title</th>
                        <th class="column-title">Status</th>
                        <th class="column-title">Last change</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% else %}
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="jumbotron">
            <h3>Login Required to submit</h3>
          </div>
        </div>
        {% endif %}
      </div>
      {% endblock container %}

    {% block script %}
    <script src='{% static "js/query_submit.js" %}'></script>
    {% endblock script %}
