{% extends "base.html" %}

{% load static %}

    {% block head_title %}Submit{% endblock head_title %}

      {% block nav %}
      <li role="presentation"><a href="{% url 'about' %}">About</a></li>
      <li role="presentation"><a href="{% url 'help' %}">Help</a></li>
      <li role="presentation"><a href="{% url 'download' %}">Download</a></li>
      <!--<li role="presentation" class="active"><a href="{% url 'submit' %}">Submit</a></li>-->
      <li role="presentation"><a href="{% url 'news' %}">News</a></li>
      {% endblock nav %}

    {% block container %}
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Step 1. Sing up and Log in</h3>
            <p>If you want to contribute to the RadioGKB (Radiation Genomics Knowledgebase), you need sing up. In “Profile” page, clicking “Add new” and selecting the reference type then you can begin submit.</p>
            <br>
            <div class="text-center">
              <div class="row">
                <img style="max-width:100%;" src="/static/images/submit_Step1.png" alt="Step 1">
              </div>
            </div>
            <br>
            <br>
            <h3>Step 2. Check the duplication</h3>
            <p>Using PMID (PubMed Unique Identifier) which you can find from PubMed (<a href="https://www.ncbi.nlm.nih.gov/pubmed">https://www.ncbi.nlm.nih.gov/pubmed</a>) for duplication check. Here, we will give you an example.</p>
            <p>Article: Association between VEGF-460T/C gene polymorphism and clinical outcomes of nasopharyngeal carcinoma treated with intensity-modulated radiation therapy</p>
            <p>PMID: 28243126</p>
            <p>Reference URL: <a href="https://www.ncbi.nlm.nih.gov/pubmed/28243126">https://www.ncbi.nlm.nih.gov/pubmed/28243126</a></p>
            <br>
            <div class="text-center">
              <div class="row">
                <img style="max-width:100%;" src="/static/images/submit_Step2.png" alt="Step 2">
              </div>
            </div>
            <br>
            <br>
            <h3>Step 3. Research</h3>
            <p>Entering the basic information of the research: Title, PMID, URL, Language, Publish Year, Publication Type, Evidence-based Medicine Level, Ethnicity, Total Patients, Male, Female, Mean Age, Median Age and Treatment Description. After finish this, you should upload the original PDF file of the reference.</p>
            <br>
            <div class="text-center">
              <div class="row">
                <img style="max-width:100%;" src="/static/images/submit_Step3.png" alt="Step 3">
              </div>
            </div>
            <br>
            <br>
            <h3>Step 4. Tumor</h3>
            <div class="text-center">
              <div class="row">
                <img style="max-width:100%;" src="/static/images/submit_Step4.png" alt="Step 4">
              </div>
            </div>
            <br>
            <br>
            <h3>Step 5. Gene & Variant</h3>
            <p>Entering the Gene and Variant. When the research has one more gene or variant (no matter that whether these variants belong to the same gene), you should click the “+” button and enter this variant in turn.</p>
            <p><strong>Note:</strong> Please enter the official symbol for Gene and name which is prefixed with “rs” for SNP.</p>
            <br>
            <div class="text-center">
              <div class="row">
                <img style="max-width:100%;" src="/static/images/submit_Step5.png" alt="Step 5">
              </div>
            </div>
            <br>
            <br>
            <h3>Step 6. Prognosis</h3>
            <p>Entering the basic information for Prognosis: prognosis, endpoint, original, case meaning, control meaning, total meaning, subgroup and annotation.</p>
            <p><strong>Original:</strong> Some research will directly give the OR (odds ratio), HR (hazard ratio) and RR (risk ratio) with 95%CI (confidence interval), you should choose “Yes” at this moment. Some studies will not give the specific OR, HR and RR, but give the original data which we can use it to calculate the OR, HR and RR, you should choose “No” at this moment. And you need to calculate it in Step 7. Association.</p>
            <p><strong>Case Meaning, Control Meaning and Total Meaning:</strong> When research provides OR, HR and RR, they may offer the patient number of case-control group and total in different genotype. We need to know the actual meaning of this number, you can find the table or result of the research.</p>
            <p><strong>Annotation:</strong> Keep significant level (usually P < 0.05) and factors in multivariate analysis or something else important.</p>
            <br>
            <div class="text-center">
              <div class="row">
                <img style="max-width:100%;" src="/static/images/submit_Step6.png" alt="Step 6">
              </div>
            </div>
            <br>
            <br>
            <h3>Step 7. Association</h3>
            <p>Enter the association between variant and cancer prognosis.</p>
            <br>
            <div class="text-center">
              <div class="row">
                <img style="max-width:100%;" src="/static/images/submit_Step7.png" alt="Step 7">
              </div>
            </div>
            <br>
            <br>
            <h3>Step 8. Confirm & Submit</h3>
            <div class="text-center">
              <div class="row">
                <img style="max-width:100%;" src="/static/images/submit_Step8.png" alt="Step 8">
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    {% endblock container %}
