{% extends "base.html" %}

    {% block head_title %}Access the Knowledge{% endblock head_title %}

    {% block nav %}
    <ul class="nav nav-pills nav-justified" style="border-top: 1px solid black;border-bottom: 1px solid black;">
      <li role="presentation"><a href="{% url 'about' %}">About the Knowledgebase</a></li>
      <li role="presentation"><a href="{% url 'about_k' %}">About the Knowledge</a></li>
      <li role="presentation"><a href="{% url 'access' %}">Access the Knowledge</a></li>
      <li role="presentation" class="active"><a href="{% url 'submit' %}">Submit the Knowledge</a></li>
      <li role="presentation"><a href="{% url 'news' %}">News</a></li>
    </ul>
    {% endblock nav %}

      {% block container %}
      <div class="row" style="margin-top: 80px;">
        {% if user.is_authenticated %}
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="list-group">
            <a href="#STEP01" class="list-group-item active" data-toggle="tab">Check duplication</a>
            <a href="#STEP02" class="list-group-item" data-toggle="tab">Research</a>
            <a href="#STEP03" class="list-group-item" data-toggle="tab">Tumor</a>
            <a href="#STEP04" class="list-group-item" data-toggle="tab">Gene</a>
            <a href="#STEP05" class="list-group-item" data-toggle="tab">Variant</a>
            <a href="#STEP06" class="list-group-item" data-toggle="tab">Prognosis</a>
            <a href="#STEP07" class="list-group-item" data-toggle="tab">Association</a>
            <a href="#STEP08" class="list-group-item" data-toggle="tab">Confirm & Submit</a>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <div class="tab-content">
            <div id="STEP01" class="tab-pane fade in active">
              <div class="panel panel-default">
                <div class="panel-body">
                  11111
                </div>
              </div>
            </div>

            <div id="STEP02" class="tab-pane fade">
              222222
            </div>
        </div>
        {% else %}
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p>Login Required to submit</p>
        </div>
        {% endif %}
      </div>
      {% endblock container %}
